/* reset default */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-950: #171717;
  --color-800: #27272a;
  --color-400: #a3a3a3;
  --color-300: #d4d4d8;
  --color-200: #e5e5e5;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-200);
}

.app {
  min-height: 100dvh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  background-color: var(--color-800);
}

main {
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
  color: var(--color-800);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card {
  background-color: var(--color-400);
  padding: 1rem;
  border-radius: 1rem;
}

.questions {
  font-size: 2.5rem;
}

.answers li {
  list-style: none;
  background-color: var(--color-300);
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-200);
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.final-results {
  margin-top: 1rem;
  width: 400px;
  background-color: var(--color-400);
  border-radius: 1rem;
  padding: 1rem;
}

.final-results button {
  background-color: red;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 1rem;
  color: var(--color-200);
  font-weight: bold;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--color-800);
}
