/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* reset default */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-950: #082f49;
  --color-800: #155e75;
  --color-400: #a3a3a3;
  --color-300: #e0f2fe;
  --color-50: #f0f9ff;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  line-height: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-100);
  background-color: var(--neutral-100);
}

.app {
  min-height: 100dvh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.app.dark {
  background-color: var(--color-950);
  /* color: var(--neutral-100); */
}

header {
  background-color: var(--color-950);
  padding: 1.2rem 0;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title h1 {
  font-size: 1.4rem;
}

.header-icon {
  width: 1.6rem;
  margin-right: 0.2rem;
}

.header-info p {
  padding: 4px;
  font-size: 0.6rem;
  font-weight: bold;
}

.header-toggleTheme {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

main {
  margin: 1.2rem auto;
  width: 85%;
  color: var(--color-950);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

main.dark {
  color: var(--neutral-200);
}

.question-container {
  font-size: 0.5rem;
  margin-bottom: 1.1rem;
}
.question-container .question {
  margin-bottom: 0.2rem;
}

.answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
}

.answers-container.dark {
  color: var(--color-950);
}

input[type='radio'] {
  display: none;
}
label {
  font-size: 0.5rem;
  margin-top: 0.1rem;
  display: block;
  padding: 0.22rem 0;
  border-radius: 1rem;
  min-width: 4rem;
  text-align: center;
  transition: all 0.3s;
  background-color: var(--neutral-200);
  font-weight: bold;
}

input[type='radio']:checked + label {
  background-color: var(--color-800);
  color: var(--neutral-100);
  border: none;
}

.correct + label {
  background-color: #d9f99d;
}

.incorrect + label {
  background-color: #fee2e2;
}

.trivia-results {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.trivia-results button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-800);
  color: var(--neutral-100);
  font-size: 0.6rem;
  font-weight: bold;
}

.btnCheckAns {
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.4rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--neutral-200);
  color: var(--color-800);
  font-size: 0.5rem;
}

footer {
  margin-top: auto;
  background-color: var(--color-950);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 1rem 0;
  width: 85%;
  margin: 0 auto;
}

.footer-link1 {
  color: var(--color-300);
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 576px) {
  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  .header-title h1 {
    font-size: 1.6rem;
  }

  .header-info p {
    font-size: 0.8rem;
  }

  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 60%;
  }

  main {
    max-width: 700px;
    margin-top: 4rem;
  }

  .question-container {
    font-size: 0.85rem;
    margin-bottom: 2.2rem;
    font-style: normal;
    font-weight: 500;
    text-align: left;
  }

  .answers-container {
    display: flex;
  }

  input[type='radio'] {
    display: none;
  }
  label {
    margin-top: 0.2rem;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 0.75rem;
    border-radius: 1rem;
    background-color: var(--neutral-200);
    min-width: 4rem;
    text-align: center;
    transition: all 0.3s;
    border: none;
  }

  input[type='radio']:checked + label {
    background-color: var(--color-800);
    color: var(--color-50);
  }

  label:hover {
    transform: translateY(-2px);
    background-color: var(--neutral-100);
    cursor: pointer;
  }

  .correct + label {
    background-color: #d9f99d;
  }

  .incorrect + label {
    background-color: #fee2e2;
  }

  .trivia-results {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .trivia-results button {
    margin-top: 1rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-800);
    color: var(--neutral-100);
    font-size: 1rem;
  }

  .trivia-results button:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .btnCheckAns {
    width: 20%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--neutral-200);
    color: var(--color-800);
    font-size: 1rem;
  }

  .btnCheckAns:hover {
    cursor: pointer;
  }
}
